* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration-style: none;
}

.container {
  background-color: aquamarine;
}

.navbar {
    background-color: darkcyan;
}

.footer1 {
    background-color: darkcyan;
    font-size: color white;
}
  

  