* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration-style: none;
}

/* Body */

.container {
  background-color: aquamarine;
}

/* Header */

header{
  background-color: darkcyan;
  color: white !important;
}

.navBarM {
  background-color: darkcyan !important;
}

/* Pagina de inicio */

.imgInicio {  
  object-fit: cover;
  width: 600px;
  height: 500px;
}

.parrafoInicio{
  margin: 25px;
}

/* Pagina de productos */

.imgProductos {
  height: 300px;
  object-fit: cover;
}
.imgProducto1{
  margin: 7px;

}

/* Pagina de contacto */
.imgContacto{
  object-fit: cover;
  width: 500px;
  height: 400px;

}

/* Pagina de Formas de pago */

.menuFormPago{
  background-color: darkcyan;
}

/* FOOTER  */

footer {
  background-color: darkcyan;
  color: white;
}

footer ul li a {
  color: white !important;
}
